<div class="overflow-hidden text-center bg-[url('/assets/players/mountains1.png')] h-screen bg-cover bg-center bg-no-repeat">

    <div class="absolute w-8 top-4 right-4 cursor-pointer">
        <img src="/assets/home/sound-bar.png">
    </div>
    <% if user_signed_in? %>
        <%= render  "user_page" %>
    <% else %>
        <%= render  "default_page" %>
    <% end %>
</div>
