<div class="overflow-hidden bg-[url('/assets/players/gemini.png')] h-screen bg-cover bg-center bg-no-repeat">
  <%= link_to game_map_path do %>
    <div class="flex flex-row-reverse">
      <img src="/assets/players/map/compas.png" class="w-28 flex flex-row-reverse" alt="item">
    </div>
    <% end %>
  </div>
  <p>Find me in app/views/arie/show.html.erb</p>
</div>
