<div class="overflow-hidden bg-[url('/assets/players/aquarius.png')] h-screen bg-cover bg-center bg-no-repeat">
    <%= link_to game_map_path do %>
      <div class="flex flex-row-reverse">
        <img src="/assets/players/map/compas.png" class="w-28 flex flex-row-reverse" alt="item">
      </div>
    <% end %>
    <%= link_to game_map_path do %>

    <div class="flex flex-row-reverse">
      <img src="/assets/players/npj/aquariusWarrior.png" class="w-[20%] relative mt-[26%]" alt="item">
    </div>

    <div class="pl-2 py-4 border-solid border-2 border-yellow-500 bg-slate-950 absolute right-4 bottom-0 w-[50%] h-40 rounded-md ">
      <p class="text-xl text-white p-2 border-slate-950"> Help us eradicate the evil that has corrupted the king and claimed this castle has his.</p>
      <div class="text-teal-500 pl-3">
        <p>Solve an enigma</p>
        <p>Fight the boss</p>
      </div>
    </div>
    <p class="rounded-md bg-yellow-500 absolute text-white right-96 bottom-36 p-2">Golden Warriors</p>  
    <% end %>
</div>