<table id="inventory" class="bg-slate-500 w-[20%] relative top-[5%] hidden">
    <tbody class="w-full">
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
        <tr>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
            <td class="w-1/4 h-16 border">
                <div class="flex justify-center items-center">
                    item
                </div>
            </td>
        </tr>
    </tbody>
</table>
<%= javascript_include_tag "test.js" , :defer=> "defer" %>